<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>

<link rel = "stylesheet" href = "https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel = "stylesheet" href = "https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css">

<script>
$(document).ready(function() {
    $('#example').DataTable( {
        dom: 'Bfrtip',
        buttons: [
            'copyHtml5',
            'excelHtml5',
            'csvHtml5',
            'pdfHtml5'
        ]
    } );
} );
</script>

<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
<a href = "/" class = "navbar-brand" href = "#">Patient monitoring system<a/>
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target="#myMenu">
        <span class = "navbar-toggler-icon">

        </span>
    </button>
    <div class = "collapse navbar-collapse" id = "myMenu">
        <ul class = "navbar-nav text-center ml-auto" >

            {% if request.user.is_authenticated %}

            <li class = "nav-item dropdown">
                <a class = "nav-link dropdown-toggle" data-toggle="dropdown" href = "#">Doctor</a>
                <div class = "dropdown-menu">
                    <a class = "dropdown-item" href = "#">Add Doctor</a>
                    <a class = "dropdown-item" href = "{% url 'viewDoctor' %}">View Doctor</a>
                </div>
            </li>

            <li class = "nav-item dropdown">
                <a class = "nav-link dropdown-toggle" data-toggle="dropdown" href = "#">Patient</a>
                <div class = "dropdown-menu">
                    <a class = "dropdown-item" href = "#">Add Patient</a>
                    <a class = "dropdown-item" href = "{% url 'viewPatient' %}">View Patient</a>
                </div>
            </li>

            <li class = "nav-item dropdown">
                <a class = "nav-link dropdown-toggle" data-toggle="dropdown" href = "#">Appointment</a>
                <div class = "dropdown-menu">
                    <a class = "dropdown-item" href = "#">Add Appointment</a>
                    <a class = "dropdown-item" href = "{% url 'viewAppointment' %}">View Appointment</a>
                </div>
            </li>
            
            <li class ="nav-item"><a class = "nav-link" href = "{% url 'viewVitals' %}">Vitals</a></li>

            {% endif %}

            <li class ="nav-item"><a class = "nav-link" href = "{% url 'home' %}">Home</a></li>
            <li class ="nav-item"><a class = "nav-link" href = "{% url 'about' %}">About</a></li>
            <li class ="nav-item"><a class = "nav-link" href = "{% url 'contact' %}">Contact</a></li>
            {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>

    </div>
</nav>

