<nav class = "navbar navbar-expand-sm bg-dark navbar-dark">
<a href = "/" class = "navbar-brand" href = "#">Patient monitoring system<a/>
    <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target="#myMenu">
        <span class = "navbar-toggler-icon">

        </span>
    </button>
    <div class = "collapse navbar-collapse" id = "myMenu">
        <ul class = "navbar-nav text-center ml-auto" >
            <li class ="nav-item"><a class = "nav-link" href = "/">Home</a></li>
            <li class ="nav-item"><a class = "nav-link" href = "#">About</a></li>
            <li class ="nav-item"><a class = "nav-link" href = "#">Contact</a></li>

        </ul>

    </div>
</nav>

