{% extends 'main.html' %}

{% block content %}
<div class="container">
    <br>
    <h2 class="text-center">Add Project</h2>
    <form method="POST" action="">
        {% csrf_token %}
        
        <label>REK nummer</label>
        <input type="text" class="form-control" name="rekNummer" required/>
        
        <!-- Updated Doctor selection -->
        <label>Doctor(s)</label>
        <select name="doctors" class="form-control" multiple>
            {% for doctor in doctors %}
            <option value="{{doctor.id}}">{{doctor.name}} [{{doctor.id}}]</option>
            {% endfor %}
        </select>
        
        <!-- Updated Patient selection -->
        <label>Patient(s)</label>
        <select name="patients" class="form-control" multiple>
            {% for patient in patients %}
            <option value="{{patient.id}}">{{patient.name}} [{{patient.id}}]</option>
            {% endfor %}
        </select>
        
        <label>Description</label>
        <input type="text" class="form-control" name="description" required/>
        
        <br>
        <input type="submit" value="Submit" class="form-control btn btn-primary" />
    </form>
</div>
{% endblock %}
