{% extends 'main.html' %}

{% load static %}

{% block content %}
    
<div class = "container" style = "margin-top:50px">
    <h2 class = "text-center">Contact</h2>

    <br><br>
    <div class = "row mt-5 text-center">
        <div class = "col-lg-3 col-sm-6">
            <h4><i class = "fas fa-phone-square"></i>Contact</h4>
            <p class = "mt-3 font-weight-bold"><a class = "text-danger" href="23070000">23070000</a></p>
        </div>
        
        <div class = "col-lg-3 col-sm-6">
            <h4><i class = "fas fa-address-card"></i>Address</h4>
            <p class = "mt-3 font-weight-bold"><a class = "text-danger" href="http://maps.google.com/maps?q=Rikshospital+">Oslo University Hospital</a></p>
        </div>

        
        <div class = "col-lg-3 col-sm-6">
            <h4><i class = "fas fa-envelope"></i>Send mail</h4>
            <p class = "mt-3 font-weight-bold">
                <a class = "text-danger" href="mailto:post@oslo-universitetssykehus.no">post@oslo-universitetssykehus.no</a></p>
        </div>

        
        <div class = "col-lg-3 col-sm-6">
            <h4><i class = "fas fa-envelope"></i>Office hours</h4>
            <p class = "mt-3 font-weight-bold">
                <a class = "text-danger">Open 24 hours a day</a></p>
        </div>

    </div>




</div>



{% endblock %}