{% extends 'main.html' %}

{% block content %}
<h1>Home template</h1>

<h2>Nihon Kohden Files</h2>
<ul>
    
    {% for file in files %}
    <li>{{ file.title }} - <a href="{% url 'claim_file' file.id %}">Claim</a></li>
    {% endfor %}
    
</ul>


<!-- File upload form -->
<form method="post" enctype="multipart/form-data" action="{% url 'upload_file' %}">
    {% csrf_token %}
    <input type="submit" value="Import file">
  </form>
  


<!--<a href="{% url 'import_files' %}" class="btn btn-primary">Import Files</a>
-->

{% endblock %}

