{% extends 'main.html' %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">View Projects</h2>

    {% for project in projects %}
    <div class="card mb-3">
        <div class="card-header">
            <a href="{% url 'project' project.id %}">Project: {{ project.rekNummer }} </a> - {{ project.description }}
        </div>
        <div class="card-body">
            <p class="card-text"><strong>Doctors involved:</strong></p>
            {% for doctor in project.doctors.all %}
                <p><a href="{% url 'doctor' doctor.id %}">{{ doctor.name }}</a></p>
            {% empty %}
                <p>No doctors assigned to this project yet.</p>
            {% endfor %}

            <p class="card-text"><strong>Patients involved:</strong></p>
            <div class="row">
                {% for patient in project.patients.all %}
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ patient.name }}</h5>
                            <p class="card-text">Gender: {{ patient.gender }}</p>
                            <p class="card-text">Contact: {{ patient.mobile }}</p>
                            <a href="{% url 'patient' patient.id %}" class="btn btn-primary">View Patient</a>
                        </div>
                    </div>
                </div>
                {% empty %}
                <div class="col">
                    <p>No patients assigned to this project yet.</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
